<div class="row text-center mt-4">
  <div class="col-md-4 mb-3">
    <div class="card shadow-sm p-3">
      <h5>Productos</h5>
      <h2 class="text-warning">{{ totalProducts }}</h2>
    </div>
  </div>
  <div class="col-md-4 mb-3">
    <div class="card shadow-sm p-3">
      <h5>Clientes</h5>
      <h2 class="text-success">{{ totalCustomers }}</h2>
    </div>
  </div>
  <div class="col-md-4 mb-3">
    <div class="card shadow-sm p-3">
      <h5>Pedidos</h5>
      <h2 class="text-info">{{ totalOrders }}</h2>
    </div>
  </div>
</div>
